<template>
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                        <div class="message" style="color: red; font-weight: 600; font-size: 12px; margin-top: 10px">{{
                            validation.firstError('email') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" v-model="password" class="form-control" placeholder="Password">
                        <div class="message" style="color: red; font-weight: 600; font-size: 12px; margin-top: 10px">{{
                            validation.firstError('password') }}
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                        <label class="pull-right">
                            <a href="#">Forgotten Password?</a>
                        </label>

                    </div>
                    <button type="button" @click="userLogin()" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in
                    </button>
                    <div class="register-link m-t-15 text-center">
                        <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions} from 'vuex'
    import Vue from 'vue'
    import SimpleVueValidation from 'simple-vue-validator';

    const Validator = SimpleVueValidation.Validator;
    Vue.use(SimpleVueValidation);
    export default {
        name: 'Login',
        data() {
            return {
                email: '',
                password: ''
            }
        },
        validators: {
            email: function (value) {
                return Validator.value(value).required("Please enter email").email("Email not correct format");
            },
            password: function (value) {
                return Validator.value(value).required("Please enter password").minLength(6, "Password min 6 character");
            }
        },
        methods: {
            ...mapActions('auth', ["login"]),
            async userLogin() {
                let vm = this;
                vm.$validate()
                    .then(function (success) {
                        if (success) {
                            vm.login({
                                email: vm.email,
                                password: vm.password
                            }).then(() => {
                                vm.$fire({
                                    title: "Login",
                                    text: "Login Success",
                                    type: "success",
                                    timer: 3000
                                }).then(() => {
                                    vm.$router.push('/')
                                });
                            }).catch(() => {
                                vm.$fire({
                                    title: "Login",
                                    text: "Username Or Password Incorrect",
                                    type: "error",
                                    timer: 3000
                                })
                            })
                        }
                    });
            }
        },
    }
</script>
