<template>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="operation"
                         style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 25px">
                        <div class="practice">
                            <a href="javascript:void(0)" style="margin-right: 20px" @click.prevent="showModal()"><span class="ti-import"></span> Nhập File</a>
                            <a href=""><span class="ti-export"></span> Xuất File</a>
                        </div>
                        <button class="btn btn-primary"><span
                            class="ti-pencil-alt"></span> Tạo mới
                        </button>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="font-weight: normal; color: #000;">Vai trò </strong>
                        </div>
                        <div class="card-body">
                            <div class="action">
                                <div class="action-custom" style="display:flex;">
                                    <div class="custom-perpage" style="margin-right: 5px">
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">10</option>
                                            <option value="1">20</option>
                                            <option value="2">50</option>
                                            <option value="3">All</option>
                                        </select>
                                    </div>
                                    <div class="dropdown" style="margin-bottom: 20px">
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                                data-toggle="dropdown">
                                            Tác vụ
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Xóa nhiều</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="search">
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">--Lọc theo nhóm quyền</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                    <input type="text" placeholder="Lọc theo tài khoản email" class="form-control">
                                    <input type="text" placeholder="Lọc theo tên nhân viên" class="form-control">
                                    <button class="btn btn-danger"><span class="ti-search"></span> Tìm kiếm</button>
                                </div>
                            </div>
<!--                            <Ctable :listRoles="roles"></Ctable>-->
                            <table class="table table-bordered">
                                <thead class="v-table-thead">
                                <tr>
                                    <th scope="col" width="60px"><input type="checkbox" id="selectall"/></th>
                                    <th scope="col">Tên quyền</th>
                                    <th scope="col">Tên hiển thị</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                    <th scope="col" width="110px">Hoạt động</th>
                                </tr>
                                </thead>
                                <tbody class="v-table-tbody">
                                <tr v-for="role in roles" :key="role.id">
                                    <td><input type="checkbox" id="user_ids" class="individual"/><br></td>
                                    <td>{{role.role_name}}</td>
                                    <td>{{role.role_label}}</td>
                                    <td><span class="badge badge-success">{{ role.role_status == 1 ? 'Đang Hoạt động' : 'Ngừng hoạt động'}}</span></td>
                                    <td>{{role.created_at}}</td>
                                    <td><span class="badge badge-danger">{{role.created_by}}</span></td>
                                    <td class="btn-operation">
                                        <router-link :to="{}" tag="a"><i class="fa fa-cog"></i></router-link>
                                        <a href="#" @click.prevent="editRole()"><i class="fa fa-edit"></i></a>
                                        <a href="#" @click.prevent="deleteRole(role.id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination :data="pagination" v-on:pagination-change-page="getListRoles" style="display: flex;justify-content: flex-end"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
        <ModalImport ref="modalCreate"></ModalImport>
        <!--Modal create-->
        <div class="modal fade" ref="modalCreate" id="modalCreateOrUpdate" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="display: flex !important;">
                        <h5 class="modal-title" id="mediumModalLabel1">Tạo mới vai trò</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="role" class=" form-control-label">Tên vai trò <span
                                style="color: red;font-weight: 600">*</span></label>
                            <input type="text" autocomplete="off" v-model="role_name"
                                   placeholder="Nhập vào tên vai trò của bạn" class="form-control">
                            <div class="message"
                                 style="color: red; font-weight: 600; font-size: 12px; margin-top: 10px">{{
                                validation.firstError('role_name') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role" class=" form-control-label">Tên hiển thị <span
                                style="color: red;font-weight: 600">*</span></label>
                            <input type="text" autocomplete="off" v-model="role_label"
                                   placeholder="Nhập vào tên hiển thị" class="form-control">
                            <div class="message"
                                 style="color: red; font-weight: 600; font-size: 12px; margin-top: 10px">{{
                                validation.firstError('role_label') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role" class=" form-control-label">Mô tả</label>
                            <textarea v-model="role_description" cols="30" rows="6" placeholder="Mô tả"
                                      class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="role" class=" form-control-label">Trạng thái <span
                                style="color: red;font-weight: 600">*</span></label>
                            <select v-model="role_status" class="form-control">
                                <option value="1">Đang hoạt động</option>
                                <option value="0">Ngừng hoạt động</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="button" @click.prevent="addRoles()" class="btn btn-primary" id="btn-save"><span
                                class="ti-save"></span> Lưu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ModalImport from '../../containers/ModalImport'
    // import Ctable from '../../containers/Ctabel'
    import Vue from 'vue'
    import SimpleVueValidation from 'simple-vue-validator';
    const Validator = SimpleVueValidation.Validator;
    Vue.use(SimpleVueValidation);
    import {mapActions, mapState} from 'vuex'
    export default {
        components: {
            ModalImport,
            // Ctable
        },
        data() {
            return {
                role_name: '',
                role_label: '',
                role_description: '',
                role_status: 1
            }
        },
        validators: {
            role_name: function (value) {
                return Validator.value(value).required("Please enter role name");
            },
            role_label: function (value) {
                return Validator.value(value).required("Please enter role label");
            },
        },
        computed: {
            ...mapState("role", ["roles", "pagination"]),
        },
        methods: {
            ...mapActions("role", ["getListRole", "addRole", "delete", "edit"]),
            showModal() {
                var element = this.$refs.modalCreate;
                element.getElementById("modalImport").showModal()
                console.log(element.showModal)
            },
            async getListRoles(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                this.getListRole(page);
            },
            async addRoles() {
                let vm = this;
                vm.$validate()
                    .then(function (success) {
                        if (success) {
                            vm.addRole({
                                role_name: vm.role_name,
                                role_label: vm.role_label,
                                role_description: vm.role_description,
                                role_status: vm.role_status
                            }).then(() => {
                                vm.$fire({
                                    title: "Role",
                                    text: "Create Role Success",
                                    type: "success",
                                    timer: 3000
                                }).then(() => {
                                    vm.role_name = '';
                                    vm.role_label = '';
                                    vm.role_description = '';
                                    vm.getListRoles();
                                });
                            }).catch(() => {
                                vm.$fire({
                                    title: "Role",
                                    text: "Create Role Error",
                                    type: "error",
                                    timer: 3000
                                })
                            })
                        }
                    });
            },
            async deleteRole(ids, page) {
                let vm = this;
                vm.$confirm("Are you sure?").then(() => {
                    vm.delete(ids)
                    vm.getListRoles(page);
                });
            },
            async editRole(id) {
                let vm = this;
                vm.edit(id)
            }
        },
        created() {
            this.getListRole();
        }
    }
</script>
