<template>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="operation" style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 25px">
                        <div class="practice">
                            <a href="javascript:void(0)" id="importFile" style="margin-right: 20px"><span class="ti-import"></span>  Nhập File</a>
                            <a href=""><span class="ti-export"></span>  Xuất File</a>
                        </div>
                        <button class="btn btn-primary" id="btn-showModal"><span class="ti-pencil-alt"></span>  Tạo mới</button>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="font-weight: normal; color: #000;">Sản phẩm </strong>
                        </div>
                        <div class="card-body">
                            <div class="action">
                                <div class="action-custom" style="display:flex;">
                                    <div class="custom-perpage" style="margin-right: 5px">
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">10</option>
                                            <option value="1">20</option>
                                            <option value="2">50</option>
                                            <option value="3">All</option>
                                        </select>
                                    </div>
                                    <div class="dropdown" style="margin-bottom: 20px">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            Tác vụ
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Xóa nhiều</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="search">
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">--Lọc theo loại</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">--Lọc theo nhãn hiệu</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                    <input type="text" placeholder="Lọc theo tên sản phẩm" class="form-control">
                                    <button class="btn btn-danger"><span class="ti-search"></span> Tìm kiếm</button>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead class="v-table-thead">
                                <tr>
                                    <th scope="col" width="60px"><input type="checkbox" id="selectall"/></th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Loại sản phẩm</th>
                                    <th scope="col">Nhãn hiệu</th>
                                    <th scope="col">Giá bán lẻ</th>
                                    <th scope="col">Giá bán buôn</th>
                                    <th scope="col">Có thể bán</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col" width="110px">Hoạt động</th>
                                </tr>
                                </thead>
                                <tbody class="v-table-tbody">
                                <tr>
                                    <td><input type="checkbox" id="user_ids" class="individual"/><br></td>
                                    <td>Áo sơ mi cổ tàu công sở</td>
                                    <td>Áo Vest</td>
                                    <td>H2T</td>
                                    <td>230.000 đ</td>
                                    <td>230.000 đ</td>
                                    <td>100</td>
                                    <td><span class="badge badge-success">Đang giao dịch</span></td>
                                    <td>23/12/1997</td>
                                    <td class="btn-operation">
                                        <router-link :to="{}" tag="a"><i class="fa fa-cog"></i></router-link>
                                        <router-link :to="{}" tag="a"><i class="fa fa-edit"></i></router-link>
                                        <router-link :to="{}" tag="a"><i class="fa fa-trash"></i></router-link>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="paginate-main">
                                <p>Hiển thị 5 trên 10 bản ghi</p>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
        <!-- modal import -->
        <div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="display: flex !important;">
                        <h5 class="modal-title" id="mediumModalLabel">Nhập vào File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="color:#000;">
                            Chú ý:
                            <br>
                            - File nhập phải theo mẫu chuẩn của bảng
                            <br>
                            - Chuyển đổi file nhập dưới dạng .XLS trước khi tải dữ liệu.
                            <br>
                            - File nhập có dung lượng tối đa là 3MB và 5000 bản ghi.
                        </p>
                        <input type="file" class="fileImport">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Nhập File</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>
