<template>
    <div class="main-admin">
        <header class="head d-flex justify-content-between align-items-center">
            <div class="head__left d-flex justify-content-center align-items-center">
                <h1>ECOMERCE <span><i class="fa fa-eye"></i></span></h1>
            </div>
            <div class="head__right">
                <div class="right-option">
                    <span><i class="fa fa-bars"></i> Tùy chọn nhanh</span>
                </div>
            </div>
        </header>
        <div class="wrapper-main d-flex justify-content-between align-items-center">
            <div class="main-sidebar">
                Đây là Sidebar
            </div>
            <div class="main-content">
                Đây là main
            </div>
        </div>
    </div>
</template>
<style scoped>
    .main-sidebar {
        width: 240px;
    }
    .main-content {
        width: calc(100% - 240px);
    }
    .head {
        background-color: #36404a;
        height: 60px;
    }
    .head__left {
        width: 240px;
        height: 60px;
    }
    .head__left h1 {
        color: #fff;
        font-size: 25px;
        margin: 0;
    }
    .head__left h1>span>i {
        margin-left: 10px;
        font-size: 20px;
    }
    .head__right {
        width: calc(100% - 240px);
        height: 60px;
    }
</style>
