<template>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="operation" style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 25px">
                        <div class="practice">
                            <a href="javascript:void(0)" id="importFile" style="margin-right: 20px"><span class="ti-import"></span>  Nhập File</a>
                            <a href=""><span class="ti-export"></span>  Xuất File</a>
                        </div>
                        <button class="btn btn-primary" id="btn-showModal"><span class="ti-pencil-alt"></span>  Tạo mới</button>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="font-weight: normal; color: #000;">Nhân viên </strong>
                        </div>
                        <div class="card-body">
                            <div class="action">
                                <div class="action-custom" style="display:flex;">
                                    <div class="custom-perpage" style="margin-right: 5px">
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">10</option>
                                            <option value="1">20</option>
                                            <option value="2">50</option>
                                            <option value="3">All</option>
                                        </select>
                                    </div>
                                    <div class="dropdown" style="margin-bottom: 20px">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            Tác vụ
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Xóa nhiều</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="search">
                                    <select name="select" id="select" class="form-control">
                                        <option value="0">--Lọc theo nhóm quyền</option>
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                    <input type="text" placeholder="Lọc theo tài khoản email" class="form-control">
                                    <input type="text" placeholder="Lọc theo tên nhân viên" class="form-control">
                                    <button class="btn btn-danger"><span class="ti-search"></span> Tìm kiếm</button>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead class="v-table-thead">
                                <tr>
                                    <th scope="col" width="60px"><input type="checkbox" id="selectall"/></th>
                                    <th scope="col">Tên hiển thị</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Vai trò</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                    <th scope="col" width="110px">Hoạt động</th>
                                </tr>
                                </thead>
                                <tbody class="v-table-tbody">
                                <tr>
                                    <td><input type="checkbox" id="user_ids" class="individual"/><br></td>
                                    <td>tranhiep</td>
                                    <td>tranhiep96@gmail.com</td>
                                    <td><span class="badge badge-success">Đang hoạt động</span></td>
                                    <td><span class="badge badge-primary">System Admin</span></td>
                                    <td>23/12/1997</td>
                                    <td><span class="badge badge-danger">System Admin</span></td>
                                    <td class="btn-operation">
                                        <router-link :to="{}" tag="a"><i class="fa fa-eye"></i></router-link>
                                        <router-link :to="{}" tag="a"><i class="fa fa-edit"></i></router-link>
                                        <router-link :to="{}" tag="a"><i class="fa fa-trash"></i></router-link>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="paginate-main">
                                <p>Hiển thị 5 trên 10 bản ghi</p>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->

        <!-- modal import -->
        <div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="display: flex !important;">
                        <h5 class="modal-title" id="mediumModalLabel">Nhập vào File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="color:#000;">
                            Chú ý:
                            <br>
                            - File nhập phải theo mẫu chuẩn của bảng
                            <br>
                            - Chuyển đổi file nhập dưới dạng .XLS trước khi tải dữ liệu.
                            <br>
                            - File nhập có dung lượng tối đa là 3MB và 5000 bản ghi.
                        </p>
                        <input type="file" class="fileImport">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Nhập File</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCreateOrUpdate" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="display: flex !important;">
                        <h5 class="modal-title" id="mediumModalLabel1">Tạo mới User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" id="userForm">
                            <div class="form-group">
                                <label for="user" class=" form-control-label">Tên hiển thị <span style="color: red;font-weight: 600">*</span></label>
                                <input type="text" autocomplete="off" name="name" id="name" placeholder="Nhập vào tên hiển thị của bạn" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="user" class=" form-control-label">Email <span style="color: red;font-weight: 600">*</span></label>
                                <input type="text" autocomplete="off" name="email" id="email" placeholder="Nhập vào tài khoản Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="user" class=" form-control-label">Vai trò <span style="color: red;font-weight: 600">*</span></label>
                                <select name="role_id" id="role_id" class="form-control">
                                    <option value="0">-- Chọn vai trò</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="role" class=" form-control-label">Mô tả</label>
                                <textarea cols="30" rows="6" placeholder="Mô tả" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="user" class=" form-control-label">Trạng thái <span style="color: red;font-weight: 600">*</span></label>
                                <select name="status" id="status" class="form-control">
                                    <option value="1">Đang hoạt động</option>
                                    <option value="0">Ngừng hoạt động</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary" id="btn-save"><span class="ti-save"></span> Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>
