<template>
    <table class="table table-bordered">
        <thead class="v-table-thead">
        <tr>
            <th scope="col" width="60px"><input type="checkbox" id="selectall"/></th>
            <th scope="col">Tên quyền</th>
            <th scope="col">Tên hiển thị</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Người tạo</th>
            <th scope="col" width="110px">Hoạt động</th>
        </tr>
        </thead>
        <tbody class="v-table-tbody">
        <tr v-for="role in listRoles" :key="role.id">
            <td><input type="checkbox" id="user_ids" class="individual"/><br></td>
            <td>{{role.role_name}}</td>
            <td>{{role.role_label}}</td>
            <td><span class="badge badge-success">{{ role.role_status == 1 ? 'Đang Hoạt động' : 'Ngừng hoạt động'}}</span></td>
            <td>{{role.created_at}}</td>
            <td><span class="badge badge-danger">{{role.created_by}}</span></td>
            <td class="btn-operation">
                <router-link :to="{}" tag="a"><i class="fa fa-cog"></i></router-link>
                <router-link :to="{}" tag="a"><i class="fa fa-edit"></i></router-link>
                <a href="#" @click.prevent="deleteRole()"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    export default {
        props: {
            listRoles: {
                type: Array,
            }
        }
    }
</script>
