<template>
    <div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: flex !important;">
                    <h5 class="modal-title" id="mediumModalLabel">Nhập vào File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:#000;">
                        Chú ý:
                        <br>
                        - File nhập phải theo mẫu chuẩn của bảng
                        <br>
                        - Chuyển đổi file nhập dưới dạng .XLS trước khi tải dữ liệu.
                        <br>
                        - File nhập có dung lượng tối đa là 3MB và 5000 bản ghi.
                    </p>
                    <button class="btn btn-success" @click="handleClickUpload"><span class="ti-upload"></span> Tải tệp từ máy tính</button>
                    <input type="file" ref="uploadFileRef" style="display: none" class="fileImport">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Nhập File</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        methods: {
            handleClickUpload() {
                this.$refs.uploadFileRef.click();
            }
        }
    }
</script>
