<template>
    <div class="wrapper">
        <aside id="left-panel" class="left-panel">
            <TheSidebar></TheSidebar>
        </aside>
        <div id="right-panel" class="right-panel">
            <TheHeader></TheHeader>
            <TheBreadcrumb></TheBreadcrumb>
            <router-view></router-view>
            <div class="clearfix"></div>
            <TheFooter></TheFooter>
        </div>
    </div>
</template>

<script>
    import Header from '../components/HeaderTop'
    import Sidebar from '../components/Sidebar'
    import Breadcrumbs from "../components/Breadcrumbs";
    import Footer from '../components/Footer'
    export default {
        name: 'Template',
        components: {
            'TheHeader': Header,
            'TheSidebar': Sidebar,
            'TheBreadcrumb': Breadcrumbs,
            'TheFooter': Footer
        }
    }
</script>
