<template>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2020 Ecommerce Admin
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://www.facebook.com/ga.hiep.98892">Hiệp Gà</a>
                </div>
            </div>
        </div>
    </footer>
</template>
