<template>
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <router-link :to="{ path: '/dashboard' }" exact><i class="menu-icon fa fa-laptop"></i>Bảng điều khiển </router-link>
                </li>
                <li>
                    <router-link :to="{ path: '/dashboard' }" exact><i class="menu-icon fa fa-rocket"></i>Bán hàng </router-link>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Đơn hàng</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><router-link :to="{ path: '/users' }" exact>Tạo đơn và giao hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Danh sách đơn hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Quản lý giao hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Đối tác vận chuyển</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Khách trả hàng</router-link></li>
                    </ul>
                </li>
                <li>
                    <router-link :to="{ path: '/dashboard' }" exact><i class="menu-icon fa fa-user-circle-o"></i>Khách hàng </router-link>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Sản phẩm</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><router-link :to="{ path: '/products' }" exact>Danh sách sản phẩm</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Quản lý kho</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Nhập hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Kiểm hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Chuyển hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Nhà cung cấp</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Điều chỉnh giá vốn</router-link></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Sổ quỹ</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><router-link :to="{ path: '/users' }" exact>Tổng quan</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Phiếu thu</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Phiếu chi</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Sổ quỹ</router-link></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Báo cáo</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><router-link :to="{ path: '/users' }" exact>Tổng quan</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Báo cáo bán hàng</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Báo cáo kho</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Báo cáo tài chính</router-link></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Thành viên</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><router-link :to="{ path: '/users' }" exact>Quản lý thành viên</router-link></li>
                        <li><i class="fa fa-rocket"></i><router-link :to="{ path: '/roles' }" exact>Quản lý nhóm quyền</router-link></li>
                    </ul>
                </li>
                <li>
                    <router-link :to="{ path: '/dashboard' }" exact><i class="menu-icon fa fa-rocket"></i>Cấu hình hệ thống </router-link>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</template>
<style scoped>
    .router-link-active {
        color: #0e5c80 !important;
    }
</style>
